# Wallet Management
export KEYSTORE=
export KEYSTORE_PASSWORD=""

# RPC URL
export RPC_URL=

# Etherscan Verification
export ETHERSCAN_API_URL=
export ETHERSCAN_API_KEY=

# Management Configurations
export USCRIBE=
# - Schnorr
## IUScribe::setBarSchnorr
export SCHNORR_BAR=
## IUScribe::liftSchnorr
export SCHNORR_VALIDATOR_PUBLIC_KEY_X_COORDINATES="[]"
export SCHNORR_VALIDATOR_PUBLIC_KEY_Y_COORDINATES="[]"
## IUScribe::dropSchnorr
export SCHNORR_VALIDATOR_IDS="[]"
# - ECDSA
## IUScribe::setBarECDSA
export ECDSA_BAR=
## IUScribe::liftECDSA
export ECDSA_VALIDATOR_ADDRESSES="[]"
## IUScribe::dropECDSA
export ECDSA_VALIDATOR_IDS="[]"
## IAuth::{rely,deny}
export WHO=
